* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/*div clas container, make layout more suitable*/
.container {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 500;
}
body {
	line-height: 1.5;
  color: #3a3a3a;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrap {
  min-height: calc(100vh - 88px); /*viewport height 100% - footer height 88px*/
}
.main-header {
  background-color: #2e3438;

  color: rgba(191, 203, 206, 0.788);
}

/*nav bar*/
.name {
  font-size: 1.25em;
}
.name, .main-nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
  margin-top: 6px;
  margin-bottom: 6px;
}
.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
  background-color:  rgba(191, 203, 206, 0.788);
  border-radius: 2em;
  text-decoration:  none;
  font-weight:      bold;
  color:  #2e3438;
  transition-duration: .5s; 
}
a:hover {
  /* Applies to links under the pointer */
  font-weight:      bold;
  background-color:  #fff;
  color:           #2e3438;

  } 
a:active  {
  /* Applies to activated links */
  font-weight: bold;
  background-color: rgba(68, 218, 101, 0.788);
  color: white;
  }
/*=======================================
  main 
=========================================*/ 
h2 {
  color: rgba(68, 218, 101, 0.788);
  margin: 1em 0;
}


.main-footer {
  text-align: center;
	padding: 2em 0;
  background: #d9e4ea;
  font-weight:      bold;
  color: rgba(107, 133, 139, 0.788);
}
/*=======================================
  form page
=========================================*/
.error {
  color: red;
}
.coursePage{
  background-color: rgba(216, 187, 171, 0.788);
  
}
form {
  margin: 0;
}

/*
* Define consistent border, margin, and padding.
*/

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*=======================================
  Media Queries, mobile version
=========================================*/
/*width 769px or wider, mobile first approach, so only big web size adjust under media*/
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 88px); /*viewport height 100% - footer height 88px*/
  }
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .name,
  .main-nav,
  .main-nav li {
    display: inline-block;/* remove break between list item, display one line do not create line breaks*/
  }
  .name {
    width: 240px;
    margin-right: 100px; /*push margin to make spece with button menu*/
  }
  .main-nav li {
    margin-right: 12px; /*-4px, negantive px will remove block space between list item 4px with 16px text*/
  }
  
  /*primary and secondary div block, only in web screen*/
  .col {
    display: inline-block;
    width: 50%;

    margin-right: -4px;  /*negative margin pull the columns towards each other, remove space*/
    vertical-align: top;
    /*margin-top: 20px;*/
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em;

  }
}