.title {
  color: #000099;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #e6ffff;
}

.error {
  color: red;
}

.valid {
  color: green;
  font-weight: bold;
}

.container {
  padding: 10px 10px 25px 40px;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-bottom: 75px;
}

table {
  padding: 10px;
}
td {
  padding: 0px 0px 5px 10px;
}

fieldset, table {
  width: 500px;
  background-color: #e6ffff;
}

fieldset {
  border: 1px solid #e6e6e6;
}

legend {
  color: #000099;
}

img {
  display: inline;
  float: left;
  padding-right: 10px;
}

